.cookie-banner {
	width: 100%;
	height: auto;
	position: fixed;
	bottom: 0px;
	left: 0px;
	border-top: 1px solid #e5e5e5;
	padding: 10px 20px;
	background-color: #f5f5f5;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.35);
	z-index: 2000;
	overflow-y: scroll;
	max-height: 100%;
	font-family: "Lato", sans-serif;
	box-sizing: border-box;
}

.cookie-banner h2 {
	font-size: 1.6em;
	margin-bottom: .5em;
}

.cookie-banner p {
	font-size: 1em;
	margin: .75rem 0 1.5rem;
	line-height: 24px;
}

.cookie-banner a {
	color: #3f51b5;
}
.cookie-banner a:focus {
	background-color: #00847C;
	color: #fff;
	font-weight: bold;
	outline: solid 3px #00847C;
}

.cookie-banner #cookie-selection {
	margin-bottom: 15px;
}

.cookie-banner #cookie-selection label {
	width: 100%;
	display: block;
	font-size: 1.4em;
	padding-left: 0px;
}

.cookie-banner #cookie-selection label input {
	height: 24px;
	width: 24px;
	float: left;
	position: inherit;
	left: auto;
}

.cookie-banner #cookie-selection label[for="essential-cookies"] {
	color: #aaa;
	margin-top: 0px;
}
.cookie-banner #cookie-selection label input[disabled=disabled] {
	background-color: #ddd;
	border-color: #aaa;
}

.cookie-banner #cookie-selection label input::before {
	display: none !important;
}
.cookie-banner #cookie-selection label input::after {
	left: 12px;
	top: 3px;
	width: 7px;
	height: 12px;
	border: solid #fff;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: medium;
	border-left-width: medium;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
	background-color: #4b5559;
}

.cookie-banner #cookie-selection label input[disabled=disabled]::after {
	background-color: #ddd;
	border-color: #aaa;
}

.cookie-banner button {
	background-color: var(--button-background);
	color: var(--button-text);
	border: 3px solid var(--button-border);
	border-radius: .375rem;
	cursor: pointer;
	font-family: "Lato",sans-serif;
	margin: 0;
	padding: .75rem;
	text-align: center;
	text-decoration: none;
	transition: background-color .2s ease;
}
.cookie-banner button:hover {
	border-color: solid 2px var(--hover-button-border);
	background-color: var(--hover-button-background);
	color: var(--hover-button-text);
}

#cookie-banner-button {
	background: transparent;
	border: none;
	padding: 0px;
	text-decoration: underline;
}
#cookie-banner-button:hover {
	text-decoration: underline;
}

/* Desktop */
@media (min-device-width : 450px) {
	.cookie-banner p {
		margin: .5rem 0 .5rem 0;
	}

	.cookie-banner #cookie-content {
		max-width: 1248px;
		margin: auto;
	}

	.cookie-banner #cookie-selection {
		background-color: #f5f5f5;
		display: inline-block;
	}

	.cookie-banner .cookies_button_container {
		display: flex;
		justify-content: flex-end;
	}
	.cookie-banner button {
		margin-left: 10px;
	}

	.cookie-banner {
		padding: calc(100% - 1000px;)
	}

}

/* Mobile */
@media (max-device-width : 450px) {
	.cookie-banner #cookie-selection {
		margin-bottom: 20px;
	}
	.cookie-banner .button {
		margin: 5px 5px 0px 0px;
		width: calc(50% - 5px);
		padding: 10px;
		float: right;
	}
	.cookie-banner .button:hover {
		background-color: #1d1d1d;
		color: #fff;
	}
	#cookies_accept_necessary {
		display: none;
	}
}
