:root {
	--button-background: #c1002b;
	--button-text: #fff;
	--button-border: #c1002b;

	--hover-button-background: #eee;
	--hover-button-text: #000;
	--hover-button-border: #1d1d1d;

	--button-hover-background: var(--hover-button-background);
	--button-hover-text: var(--hover-button-text);
	--button-hover-border: var(--hover-button-border);
}
