#cookie-overlay {
	font-family: "Lato", sans-serif;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 99999;
	background-color: rgba(0,0,0,0.7);
	display: flex;
	top: 0px;
	left: 0px;
}

#cookie-dialog {
	max-width: 800px;
	max-height: 90%;
	z-index: 99999;
	margin: auto;
	padding: 20px;
	border-radius: 10px;
	overflow: scroll;

	background: 
		linear-gradient(#fff 33%, rgba(244,252,255, 0)),
		linear-gradient(rgba(255,255,255, 0), #fff 66%) 0 100%,
		radial-gradient(farthest-side at 50% 0, rgba(34,34,34, 0.5), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(34,34,34, 0.5), rgba(0,0,0,0)) 0 100%;
	background-color: #fff;
	background-repeat: no-repeat;
	background-attachment: local, local, scroll, scroll;
	background-size: 100% 45px, 100% 45px, 100% 15px, 100% 15px;
}

#cookie-dialog h1 {
	margin: 0px;
	font-size: 32.4px;
}

#cookie-dialog > form {
	margin: .75rem 0 0 0;
}

#cookie-dialog > form > fieldset {
	margin: 0px 0px 10px 0px;
	background-color: #f5f5f5;
	border: solid 1px #ccc;
	padding: 20px;
	position: relative;
	border-radius: 10px;
}

#cookie-dialog > form > fieldset > legend {
	line-height: 1.23;
	font-size: 1.5rem;
	margin: .75rem 0 0;
	display: contents;
	font-size: 21.6px;
}

#cookie-dialog p {
	font-size: 18px;
	margin: 10px 0 0 0;
}


#cookie-dialog > form fieldset label input {
	margin: 8px;
	float: left;
}

#cookie-dialog > form fieldset.disabled label {
	color: #bbb;
}
#cookie-dialog > form fieldset label {
	display: inline-block;
	width: 100%;
}
#cookie-dialog > form label {
	display: block;
	width: 100%;
	clear: both;
	float: right;
}
#cookie-dialog > form fieldset.disabled label {
	color: #bbb;
}

#cookie-dialog > form fieldset.disabled label input {
	border-color: #bbb !important;
}
#cookie-dialog > form fieldset label input {
	margin: 8px;
	float: left;
}
#cookie-dialog > form fieldset.disabled label input {
	border-color: #bbb !important;
}

#cookie-dialog > form fieldset.disabled label input[checked="checked"] {
	background-color: #bbb !important;
	color: #bbb;
}
#cookie-dialog > form fieldset.disabled label input[checked="checked"] {
	background-color: #bbb !important;
	color: #bbb;
}

#cookie-dialog > form button {
	background-color: var(--button-background);
	color: var(--button-text);
	border: 3px solid var(--button-border);
	border-radius: .375rem;
	cursor: pointer;
	font-family: "Lato",sans-serif;
	margin: 0;
	padding: .75rem;
	text-align: center;
	text-decoration: none;
	transition: background-color .2s ease;
	display: block;
	margin-left: auto;
	float: right;
	margin-left: 10px;
	font-size: 16px;
	padding: 12px;
}
#cookie-dialog > form button:hover {
	border-color: 2px solid var(--hover-button-border);
	background-color: var(--hover-button-background);
	color: var(--hover-button-text);
}

#cookie-dialog > form .radio {
	max-width: 20%;
	margin-top: 10px;
	border: none;
}
#cookie-dialog > form .radio > label {
	display: block;
	width: 100%;
	clear: both;
	float: right;
}
#cookie-dialog > form .radio > label > input[type='radio'] {
	margin: 4px 4px 0 0;
}

/* Mobile */
@media (max-device-width : 450px) {
	#cookie-dialog > form > fieldset > legend {
		font-size: 20px;
	}
	#cookie-dialog p {
		font-size: 16px;
	}
	#cookie-dialog > form fieldset label {
		font-size: 18px;
	}
	#cookie-dialog > form .radio > label > input[type="radio"] {
		height: 18px;
		width: 18px;
		margin: 5px 4px 0 0;
	}
}
